<h1>ng-content/ng-conatiner/ng-template</h1>
<div class="container">
  <h2>New in Smart Phones</h2>

  <div class="more-products">
    <app-product title="New in iPhone">
      <p>iPhone is a line of smartphones produced by Apple Inc. that use Apple's own iOS mobile operating system. The first-generation iPhone was announced by then-Apple CEO Steve Jobs on January 9, 2007. Since then, Apple has annually released new iPhone models and iOS updates.</p>
    </app-product>

    <app-product title="New in Samsung">
      <p>Samsung specializes in the production of a wide variety of consumer and industry electronics, including appliances, digital media devices. It has become one of the most-recognizable names in technology and produces about a fifth of South Korea's total exports.</p>
    </app-product>

    <app-product title="New in OnePlus"> 
      <p>OnePlus creates premium, user-centric technology that challenges market conventions and the industry status quo. Founded in 2013 around the bold Never Settle mantra, OnePlus consistently creates premium devices and software that provide the best user experience possible. It is a subsidiary of Oppo.</p> 
    </app-product>

    <app-product title="New in Redmi">
      <p>Redmi is a subsidiary company owned by the Chinese electronics company Xiaomi. It was first announced in July 2013 as a budget smartphone line,[1] and became a separate sub-brand of Xiaomi in 2019 with entry-level and mid-range devices, while Xiaomi itself produces upper-range and flagship Xiaomi (formerly Mi) phones.</p>
    </app-product>
  </div>
</div>

<!-- <h1>ng-content</h1>
<div class="container">
  <h2>New in Smart Phones</h2>

  <div class="more-products">
    <app-product>
      <h4 class="title">New in iPhone</h4>
    </app-product>
    <app-product>
      <h4 class="title">New in Samsung</h4>
    </app-product>
    <app-product>
      <h4 class="title">New in OnePlus</h4>
    </app-product>
    <app-product>
      <h4 class="title">New in Redmi</h4>
    </app-product>
  </div>
</div> -->



